.dropdown.codehint-menu.open .dropdown-menu {
}


.dropdown.codehint-menu.open .dropdown-menu::before {
    position: absolute;
    top: 0px;
    left: 2pt;
    content: "»";
    color: blue;
    height: 30px;
	min-height: 30px;
    width: 30px;	
}
